<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Classer</title>
	<link rel="stylesheet" href="../public/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/templatemo-xtra-blog.css" rel="stylesheet">

    <link href="../public/css/offcanvas.css" rel="stylesheet">

</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <h1 style="padding-left: 30px;">Classer</h1>
                <h3 class="tm-nav-item active">
                    <form method="get" action="/process/logOut"></form>
                    <button class="tm-nav-link" style="border: none;">
                    <i class="fas fa-linkedin"></i>
                    Log Out
                </a></h3>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item"><a href="/public/index_login.html" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Home
                    </a></li>
                    <li class="tm-nav-item"><a href="/public/reserve.html" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        강의실 예약
                    </a></li>
                    <li class="tm-nav-item"><a href="/current" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        강의실 현황
                    </a></li>
                    <li class="tm-nav-item"><a href="/public/contact.html" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        시간표
                    </a></li>
                </ul>
            </nav>
            <div class="tm-mb-65">
                <a rel="nofollow" href="https://fb.com/templatemo" class="tm-social-link">
                    <i class="fab fa-facebook tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter tm-social-icon"></i>
                </a>
                <a href="https://instagram.com" class="tm-social-link">
                    <i class="fab fa-instagram tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin tm-social-icon"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <h2 class="tm-pt-60 tm-color-primary tm-post-title" style="font-size: 230%; margin-bottom: 3%;">
                        My Page
                    </h2>
                </div>
            </div>
            
            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary ">
                </div>
            </div>
              <main role="main" class="container">
                <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
                  <img class="mr-3" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
                  <div class="lh-100">
                    <h6 class="mb-0 text-white lh-100">회원정보</h6>
                  </div>
                </div>
          
                <div class="my-3 p-3 bg-white rounded box-shadow">
                  <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
                  <div class="media text-muted pt-3">
                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <strong class="d-block text-gray-dark">@username</strong>
                      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                  </div>
                  <div class="media text-muted pt-3">
                    <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <strong class="d-block text-gray-dark">@username</strong>
                      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                  </div>
                  <div class="media text-muted pt-3">
                    <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <strong class="d-block text-gray-dark">@username</strong>
                      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                  </div>
                  <small class="d-block text-right mt-3">
                    <a href="#">All updates</a>
                  </small>
                </div>
          
                <div class="my-3 p-3 bg-white rounded box-shadow">
                  <h6 class="border-bottom border-gray pb-2 mb-0">Suggestions</h6>
                  <div class="media text-muted pt-3">
                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark">Full Name</strong>
                        <a href="#">Follow</a>
                      </div>
                      <span class="d-block">@username</span>
                    </div>
                  </div>
                  <div class="media text-muted pt-3">
                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark">Full Name</strong>
                        <a href="#">Follow</a>
                      </div>
                      <span class="d-block">@username</span>
                    </div>
                  </div>
                  <div class="media text-muted pt-3">
                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark">Full Name</strong>
                        <a href="#">Follow</a>
                      </div>
                      <span class="d-block">@username</span>
                    </div>
                  </div>
                  <small class="d-block text-right mt-3">
                    <a href="#">All suggestions</a>
                  </small>
                </div>
              </main>


            <!-- 
            <div class="row tm-row">
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full">                    
                        <div class="mb-4">
                            강의실을 선택해 조회합니다.
                            <form method="post" action="/process/searchRoom">
                                <select class="form-select" name="room" style="scale: 110%;">
                                    <option selected>강의실 선택</option>
                                    <option value="601">601호</option>
                                    <option value="602">602호</option>
                                    <option value="603">603호</option>
                                </select>
                                <button class="tm-btn tm-btn-primary tm-btn-small" style="scale: 80%;">찾기</button>
                            </form>
                            <br>
                            <br>
                            <br>

                            <% if(rooms != null){ %>
                                <table class="table">
                                    <thead>
                                        <tr>
                                          <th scope="col"></th>
                                          <th scope="col">강의실</th>
                                          <th scope="col">시작시간</th>
                                          <th scope="col">종료시간</th>
                                          <th scope="col">사용자</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i = 0; i < rooms.length; i++){ %>
                                        <tr>
                                            <th scope="row"><%= i+1 %></th>
                                            <td>강의실 : <%= rooms[i].room %></td>
                                            <td>시작시간 : <%= rooms[i].startTime %></td>
                                            <td>종료시간 : <%= rooms[i].endTime %></td>
                                            <td>사용자 : <%= rooms[i].userId %></td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            <% } %>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>
            </div> -->

            <footer class="row tm-row">
                <div class="col-md-6 col-12 tm-color-gray">
                    Design: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-external-link">TemplateMo</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2020 Xtra Blog Company Co. Ltd.
                </div>
            </footer>
        </main>
    </div>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/templatemo-script.js"></script>
</body>
</html>