<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Classer</title>
	<link rel="stylesheet" href="../public/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/templatemo-xtra-blog.css" rel="stylesheet">

    <link href="../public/css/offcanvas.css" rel="stylesheet">

</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <h1 style="padding-left: 30px;">Classer</h1>
                <h3 class="tm-nav-item active">
                    <form method="get" action="/process/logOut">
                      <button class="tm-nav-link" type="submit" style="border: none;">
                      <i class="fas fa-linkedin"></i>
                      Log Out
                      </a>
                    </form>
                  </h3>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item"><a href="/public/index_login.html" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Home
                    </a></li>
                    <li class="tm-nav-item"><a href="/public/reserve.html" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        강의실 예약
                    </a></li>
                    <li class="tm-nav-item"><a href="/current" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        강의실 현황
                    </a></li>
                    <li class="tm-nav-item"><a href="/public/contact.html" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        시간표
                    </a></li>
                </ul>
            </nav>
            <div class="tm-mb-65">
                <a rel="nofollow" href="https://fb.com/templatemo" class="tm-social-link">
                    <i class="fab fa-facebook tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter tm-social-icon"></i>
                </a>
                <a href="https://instagram.com" class="tm-social-link">
                    <i class="fab fa-instagram tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin tm-social-icon"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <h2 class="tm-pt-60 tm-color-primary tm-post-title" style="font-size: 230%; margin-bottom: 3%;">
                        My Page
                    </h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <hr class="tm-hr-primary ">
                </div>
            </div>

            <div class="row py-5 px-4">
            <div class="bg-white shadow rounded overflow-hidden">
              <div class="px-4 pt-0 pb-4 bg-info">
                  <div class="media align-items-end profile-header">
                      <div class="media-body mb-5 text-white">
                        <div class="row py-3 px-3">
                        <h2 class="mt-0 mb-0"><%= user %><h5 class="mt-2">님의 개인페이지</h5></h2>
                      </div>
                      <p class="small mb-4 text-white"> 
                      <i class="fa fa-map-marker mr-2"></i>Donga Univ</p>
                      </div>
                  </div>
              </div>
  
              <div class="px-4 pt-4">
                  <h5 class="">비밀번호 변경</h5>
            </div>

              <div class="bg-light px-4 d-flex text-center">
                
                <form method="post" action="/process/changePwd">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">현재 비밀번호</span>
                    </div>
                    <input type="password" name="nowPassword" class="form-control" aria-label="Default" style="margin-right: 16px;" aria-describedby="inputGroup-sizing-default">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">새로운 비밀번호</span>
                    </div>
                    <input type="password" name="newPassword" class="form-control" aria-label="Default" style="margin-right: 16px;" aria-describedby="inputGroup-sizing-default">
                    <button class="btn btn-outline-success" type="submit">변경</button>
                  </div>
                </form>
        </div>
        <div class="py-5">
          <div class="py-4 px-4">
              <div class="d-flex align-items-center justify-content-between mb-3">
                  <h5 class="mb-0">내가 신청한 강의실</h5>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">강의실</th>
                    <th scope="col">시작시간</th>
                    <th scope="col">종료시간</th>
                    <th scope="col">비고</th>
                  </tr>
                </thead>
                <% if(rooms != null){ %>
                <tbody>
                    <% for(var i = 0; i < rooms.length; i++){ %>
                    <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td><%= rooms[i].room %></td>
                        <td><%= rooms[i].startTime %></td>
                        <td><%= rooms[i].endTime %></td>
                        <td>
                          <form method="post" action="/process/delete">
                            <button type="submit" class="btn btn-outline-danger" name="roomName" value='<%= rooms[i]._id %>'>삭제</button>
                          </form>
                        </td>
                      </tr>
                    <% } %>
                </tbody>
                </table>
                <% } %>

                <form method="post" action="/process/deleteUser">
                  <div class="pt-5">
                    <div class="pt-5">
                      <button class="btn btn-outline-danger" type="submit">회원탈퇴</button>
                    </div>                    
                  </div>
                </form>
          </div>
        </div>
          </div><!-- End profile widget -->
        <!-- </div> -->
      </div>




            <footer class="row tm-row">
                <div class="col-md-6 col-12 tm-color-gray">
                    Design: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-external-link">TemplateMo</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2020 Xtra Blog Company Co. Ltd.
                </div>
            </footer>
        </main>
    </div>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/templatemo-script.js"></script>
</body>
</html>